$primary_bg_color: #0067FC;
$bg_color_1:  rgb(0, 0, 0); 
$bg_color_2: rgba(0, 0, 0, 0.4); 
$font_color_1: #ffffff;
$font_color_2: #707070;
$placeholder_color: #c7c7c7;
$header_color_1: #ededed;
$shadow_color_1:#b3b1b1;
$border_color_1: #b3b1b1;
$border_color_2: #bababa;
$hover_color_1: #cccccc;
$topenv_font_color: #cccbcb;
$success_color: green;
$close_action_font_color: #aaaaaa;
$close_action_hover_color: #000;
$error_color: red;
$spinner_color: #f3f3f3;
$spinner_border_color:#3498db; 
$toggle_background_color:  #008000;
